parameters:
	ignoreErrors:
		-
			message: '#^Function helfi_azure_fs_install\(\) has parameter \$is_syncing with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: helfi_azure_fs.install

		-
			message: '#^Function helfi_azure_fs_entity_field_storage_info_alter\(\) has parameter \$fields with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: helfi_azure_fs.module

		-
			message: '#^Method Drupal\\helfi_azure_fs\\Drush\\Commands\\TransliterateFilesCommands\:\:processEntityType\(\) has parameter \$fields with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Drush/Commands/TransliterateFilesCommands.php

		-
			message: '#^Parameter \#1 \$entity of method Drupal\\helfi_azure_fs\\Drush\\Commands\\TransliterateFilesCommands\:\:processFieldLinks\(\) expects Drupal\\Core\\Entity\\ContentEntityInterface, Drupal\\Core\\Entity\\TranslatableInterface given\.$#'
			identifier: argument.type
			count: 1
			path: src/Drush/Commands/TransliterateFilesCommands.php

		-
			message: '#^Method Drupal\\Tests\\helfi_azure_fs\\Kernel\\StorageInfoAlterTest\:\:register\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/src/Kernel/StorageInfoAlterTest.php

		-
			message: '#^Attribute class PHPUnit\\Framework\\Attributes\\DataProvider constructor invoked with named argument \$methodName, but it''s not allowed because of @no\-named\-arguments\.$#'
			identifier: argument.named
			count: 2
			path: tests/src/Unit/AzureFileSystemTest.php

		-
			message: '#^Method Drupal\\Core\\StreamWrapper\\StreamWrapperManager@anonymous/tests/src/Unit/AzureFileSystemTest\.php\:38\:\:getScheme\(\) should return string\|false but returns bool\|string\.$#'
			identifier: return.type
			count: 1
			path: tests/src/Unit/AzureFileSystemTest.php

		-
			message: '#^Method Drupal\\Tests\\helfi_azure_fs\\Unit\\AzureFileSystemTest\:\:chmodFolderData\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/src/Unit/AzureFileSystemTest.php

		-
			message: '#^Method Drupal\\Tests\\helfi_azure_fs\\Unit\\AzureFileSystemTest\:\:testChmodSkipFsOperations\(\) has parameter \$structure with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/src/Unit/AzureFileSystemTest.php

		-
			message: '#^Method Drupal\\Tests\\helfi_azure_fs\\Unit\\AzureFileSystemTest\:\:testMkdirSkipFsOperations\(\) has parameter \$structure with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/src/Unit/AzureFileSystemTest.php

		-
			message: '#^Method Drupal\\Tests\\helfi_azure_fs\\Unit\\AzureFileSystemTest\:\:testSkipOperationsFallback\(\) has parameter \$structure with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/src/Unit/AzureFileSystemTest.php
