on:
  pull_request:
  push:
    branches:
      - main
name: CI
jobs:
  tests:
    strategy:
      matrix:
        php-versions: ['8.4']
    uses: city-of-helsinki/drupal-gh-actions/.github/workflows/module-tests.yml@main
    with:
      php_version: ${{ matrix.php-versions }}
    secrets:
      sonarcloud_token: ${{ secrets.SONAR_TOKEN }}
    env:
      FLYSYSTEM_AZURE_ACCOUNT_KEY: ${{ secrets.FLYSYSTEM_AZURE_ACCOUNT_KEY }}
      FLYSYSTEM_AZURE_ACCOUNT_NAME: ${{ secrets.FLYSYSTEM_AZURE_ACCOUNT_NAME }}
      FLYSYSTEM_AZURE_CONTAINER_NAME: ${{ secrets.FLYSYSTEM_AZURE_CONTAINER_NAME }}
